@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
  --primary-color: #1A83CC;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

#check-btn {
  color: #ffffff;
  width: 100%;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding: 8px;
}

.input-class {
  font-size: 16px;
  padding: 6px;
  margin: 5px;
  width: 100%;
}

#show-output {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}