@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


:root {
  --primary-color: #1A83CC;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  max-width: 600px;
  margin: auto;
  color:rgb(26, 27, 26);
}

.flex-container {
  display: flex;
  flex-direction: column;
}

#check-btn {
  color: #ffffff;
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
  padding: 8px;
}

.input-class {
  font-size: 16px;
  padding: 6px;
  margin: 5px;
}

#show-output {
  margin-top: 50px;
  font-weight: 500;
  font-size: 18px;
  padding: 10px;
  background-color: white;
}


@media only screen and (max-width: 600px) {
  body {
  max-width: 600px;
  margin: 15px;
  }
}